@use "../variables";

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 10px;
  background-color: variables.$black;
  color: variables.$white;
}

.input,
#textarea {
  background-color: variables.$black;
  border: none;
  padding: 10px;
  color: variables.$white;
  border-bottom: solid 2px variables.$glass;
}

.input:focus,
#textarea:focus {
  border-bottom: solid 2px variables.$grey;
  outline: none;
}

.input::placeholder,
#textarea::placeholder,
.input,
#textarea {
  color: variables.$grey;
  font-family: variables.$font;
  font-size: 14px;
}

#textarea {
  width: 33%;
}

#send-email-button {
  background-color: variables.$white;
  color: variables.$black;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  border-radius: variables.$border-radius;
  width: 33%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

#inputs-container {
  display: flex;
  justify-content: space-between;
  width: 33%;
}

input[type="email"] {
  width: 33%;
}

@media screen and (max-width: 700px) {
  #form {
    padding: 35px;
  }

  input[type="email"] {
    width: 100%;
  }

  #inputs-container {
    width: 100%;
    flex-direction: column;
  }

  #textarea {
    width: 100%;
  }
}
