@use "../variables";

#navbar {
  position: fixed;
  left: 2rem;
  top: 50%;
  padding: 10px;
  margin-bottom: 2rem;
}

#navbar-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  cursor: pointer;
}

.navbar-item {
  color: variables.$grey;
  text-decoration: none;
}

.navbar-item-border {
  border-top: solid 2px variables.$grey;
  transition: all 0.2s ease-in-out;
}

.active {
  color: variables.$white;
  font-weight: 900;
}

.not-active {
  color: variables.$grey;
  font-weight: 400;
}

.hovered {
  width: 100%;
}

.not-hovered {
  width: 0;
}

@media screen and (max-width: 600px) {
  #navbar {
    left: 0;
    right: 0;
    top: 0;
  }

  #navbar-list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
