// Font
$font: "Mona Sans", sans-serif;

// Main colors
$black: #121212;
$white: #e8e8e8;
$grey: #bbb;
$glass: rgba(255, 255, 255, 0.2);
$blue: #3498db;
$orange: #e67e22;
$red: #e74c3c;
$green: #2ecc71;
$pink: #f06292;
$violet: #8e44ad;

// Borders
$border-style: solid 2px $glass;
$border-radius: calc(infinity * 1px);
